<script type="text/html" id="login_form_script_view">
    <div class="connexion-form">

        <div class="entete-cnx">
            <h1 class="text-white text-uppercase text-fat">Connexion</h1>
        </div>

        <div class="inside" id="champs">
            <div name="login">
                <div class="buttn">
                    <button id="connectButtn" class="subcon"><span class="text-uppercase text-bold text-center">Se connecter</span></button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</script>