<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <meta charset="UTF-8">
        <style>
            #LI_1 {
                background: rgb(230, 230, 230) none repeat scroll 0% 0% / auto padding-box border-box;
                list-style: none outside none;
                padding: 0px 1px 16px 0px;
                height: 150px;
            }/*#LI_1*/

            #SPAN_3 {
                background-position: 17px 9px;
                box-sizing: border-box;
                color: rgb(0, 0, 238);
                display: block;
                float: left;
                height: 90px;
                text-align: left;
                width: 57px;
                perspective-origin: 28.5px 45px;
                transform-origin: 28.5px 45px;
                background: rgba(0, 0, 0, 0) url('<%= prefix + '/dist/img/erreur.png'%>') no-repeat scroll 17px 9px / auto padding-box border-box;
                border: 0px none rgb(0, 0, 238);
                font: normal normal normal normal 16px / 22.8571px Times;
                list-style: none outside none;
                margin: 12px 0px 0px;
                outline: rgb(0, 0, 238) none 0px;
                padding: 0px 0px 0px 17px;
            }/*#SPAN_3*/

            #error_type {
                box-sizing: border-box;
                color: #ff0000 !important;
                /*font-family: "Verdana"!important;*/
                font: normal normal normal 16px / 17.1428px Verdana;
                height: 34px;
                text-align: left;
                margin: 0px;
                padding: 15px 0px 0px 57px;
            }/*#H2_4*/


        </style>
    </head>
    <body>
    <div id="LI_1">
        <a><span id="SPAN_3"></span></a>
        <h2 id="error_type"> Un problème est survenu lors de la connexion à i2A. Merci de réessayer ultérieurement. </h2>
    </div>
    <pre><code></code></pre>
    </body>
</html>