<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Configuration <%= hostname %></title>
</head>
<body>

<a href="monitoring">MONITORING</a><br>
<b>hostname</b> : <%= hostname %><br>
<div>
    <h4>Parametrage</h4>
    <pre><code><%= config %></code></pre>
</div>

</body>
</html>